
@model Candidate

<div class="display-6">
    Apply-Başvuru
</div>

<form method="post" action="/course/apply">
  <div class="form-group my-2">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" name="Email" class="form-control" placeholder="Enter email">
  </div>

    <div class="form-group my-2">
    <label>FirstName</label>
    <input type="text" name="FirstName" class="form-control" placeholder="Enter FirstName">
  </div>

    <div class="form-group my-2">
     <label>FirstName</label>
     <input type="text" name="LastName" class="form-control" placeholder="Enter FirstName">
   </div>

   
    <div class="form-group my-2">
      <label>Age</label>
      <select name="Age" class="form-control">
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
      </select>
   </div>

  <fieldset>
    <legend >Select One Course</legend>
    <p>
        <input id="mvc" type="radio" name="SelectedCourse" value="ASP.NET Core MVC">
        <label>ASP.NET Core MVC</label>
    </p>
        <p>
        <input id="mvc" type="radio" name="SelectedCourse" value="ASP.NET Core API">
        <label>ASP.NET Core API</label>
    </p>

    <p>
        <input id="mvc" type="radio" name="SelectedCourse" value="Blazor">
        <label>Blazor</label>
    </p>
  </fieldset>

<div>
  <button type="submit" class="btn btn-primary">Aplly(Başvuru Yap)</button>
  <a class="btn btn-warning" href="/">Home</a>
</div>

</form>