@model Product


<div>

    <h3>@Model.ProductName</h3>
    <p>@Model.Price</p>
    <a href="/Product">Product</a>
</div>

@* BU ALAN SADECE BU SAYFADA GÖRÜNECEKTİR*@
@section Header{
    <div>
        Only for Index Header
    </div>
}
@* BU ALAN SADECE BU SAYFADA GÖRÜNECEKTİR*@
