@model StoreApp.Models.Product


<!DOCTYPE html>
<html>

<head>
    <title>Merhaba Dünya</title>
</head>

<body>


        <div>

            <h3>@Model.ProductName</h3>
            <p>@Model.Price</p>
            <a href="/Product">Product</a>
        </div>


</body>

</html>