@model List<Product>

@* BU ALAN SADECE BU SAYFADA GÖRÜNECEKTİR*@
@section Footer{
    <div>
        Only for Index footer
    </div>
}
@* BU ALAN SADECE BU SAYFADA GÖRÜNECEKTİR*@

<div class="row my-3">
    @foreach (Product prd in Model)
    {

        <partial name="_ProductCard" model="@prd" />


    }
</div>